@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700px;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/* header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
 /* navbar underline */
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #28aca3;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* navbar underline */

/* Home Page */
#hero{
    background-image: url(rs.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: orangered;
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;

}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des span{
    color :#606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px ;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 183, 25);

}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px ;
    font-weight: 700;
    color: #088178;

}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}


#product2{
    text-align: center;
}
#product2 .pro-container2{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product2 .pro2 {
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product2 .pro2:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;

}
#product2 .pro2 img{
    width: 100%;
    border-radius: 20px;
}
#product2 .pro2 .des2 span{
    color :#606063;
    font-size: 12px;
}
#product2 .pro2 .des2 h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px ;
}
#product2 .pro2 .des2 i{
    font-size: 12px;
    color: rgb(243, 183, 25);

}
#product2 .pro2 .des2 h4{
    padding-top: 7px;
    font-size: 15px ;
    font-weight: 700;
    color: #088178;

}
#product2 .pro2 .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#product3{
    text-align: center;
}
#product3 .pro-container3{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product3 .pro3 {
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product3 .pro3:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;

}
#product3 .pro3 img{
    width: 100%;
    border-radius: 20px;
}
#product3 .pro3 .des3 span{
    color :#606063;
    font-size: 12px;
}
#product3 .pro3 .des3 h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px ;
}
#product3 .pro3 .des3 i{
    font-size: 12px;
    color: rgb(243, 183, 25);

}
#product3 .pro3 .des3 h4{
    padding-top: 7px;
    font-size: 15px ;
    font-weight: 700;
    color: #088178;

}
#product3 .pro3 .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

/* flowering plants */

#product4{
    text-align: center;
}
#product4 .pro-container3{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product4.pro4 {
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product4 .pro4:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06) ;

}
#product4 .pro4 img{
    width: 100%;
    border-radius: 20px;
}
#product4 .pro4 .des4 span{
    color :#606063;
    font-size: 12px;
}
#product4 .pro4 .des4 h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px ;
}
#product4 .pro4 .des4 i{
    font-size: 12px;
    color: rgb(243, 183, 25);

}
#product4 .pro4 .des4 h4{
    padding-top: 7px;
    font-size: 15px ;
    font-weight: 700;
    color: #088178;

}
#product4 .pro4 .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

style type = "text/css">

body{
  background: #eee;
  padding-top: 20px;
  font-family: monospace;


.header{
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0px;
  background: purple;
  color: #fff;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.faq-item{
  margin-bottom: 40px;
  margin-top: 40px;
}
.faq-body{
  display: none;
  margin-top: 30px;
}
.faq-wrapper{
  width: 75%;
  margin: 0 auto;
}
.faq-inner{
  padding: 30px;
  background: aliceblue;
}
.faq-plus{
  float: right;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}
hr{
  background-color: #9b9b9b;
}
